/* General styles */
* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.main-header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-title {
  margin-left: 50px; 
  color: blue;
}

.header-title img {

  width: 200px;
  padding: 10px;

}

.header-title a {
  text-decoration: none;
  color: blue;
}



h2 {
  text-align: center;
}

/* Home Page */

.list_title {
  padding-top: 40px;
  padding-bottom: 10px;
}

.location-list {

  padding-bottom: 20px;
}

h2 {
  padding-top: 10px;
}
.location-list h3 {
  text-align: center;
  padding: 30px;
}

.authenticate {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}

.authenticate a{
  text-decoration: none;
  color: black;
}

.location-list h3 span {
  display: inline-block;
  margin: 0 20px;
}

.card_container {
  /* background-color: grey; */
display: flex;

}

.card_box {
  margin: auto;
}

.image-row {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;


}

.image-item {
  /* flex: 1 1 18%;  */
  /* max-width: 18%;  */
  text-align: center; 
  padding: 12px;
  width: 300px;
  height: 260px;
  /* background-color: grey; */
  display: flex;
}

.image-item a{
  text-decoration: none;
  color: black;
}

.image-item img {
  width: 300px;
  height: 200px;
  display: block;
  border-radius: 50px;
}

.image-item p {
  margin: 5px 0 0;
}

.image-item {
  transition:  0.3s;
}

.image-item:hover {
  transform: scale(1.2);
}


.property_box {
  padding-bottom: 30px;
}





footer {
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  padding: 80px;
  margin-top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 50px; 
}

.search-container input[type="text"] {
  padding: 16px;
  padding-left: 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 500px;
  font-size: 14px;
}

.search-container button {
  padding: 12px 16px;
  margin-left: -83px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;

}

.search-container button:hover {
  background-color: #0056b3;
}

hr {
  margin-top: 50px;
}




/* login_signup page */

.form_container {
  padding: 100px 50px;
  display: flex;
}

.input_container{
  text-align: center;
}

.box_container {
    margin: auto;
    /* padding: 80px; */
    border: 1px solid rgb(145, 145, 145);
    /* background-color: grey; */
    border-radius: 30px;
  width: 500px;
  /* height: 400px; */
  padding-bottom: 80px;

}

.box_container a{
  color: black;
}

.box_container h1{
margin-bottom: 50px;
text-align: center;
padding-top: 50px;
}

.box_container h3{
  font-size: 16px;
  text-align: center;
  }

.box_container button{
  display: block;
  background-color:  #007BFF;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  color: white;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
  cursor: pointer;
  }

 .box_container form button{
    cursor: pointer;
  }

  .input_field {
    padding-top:10px;
    
  }

  input{
    border : 1px solid rgb(196, 196, 196);
  }


/* Profile_page */

.profile_container0 {
  display: flex;
  height: 630px;
  border-bottom: 1px solid grey;
  /* padding-top: 54px; */
  padding-top: 34px;
  padding-bottom: 34px;
}


.profile_container0 form{
  margin: auto;
}




.profile_container0_2 {
  display: flex;
  height: 550px;
  /* border-bottom: 1px solid grey; */
  padding-top: 54px;
  padding-bottom: 54px;
}

.profile_container0_2 form{
  margin: auto;
}



.profile_container {
  display: flex;
  height: 450px;
  border-bottom: 1px solid grey;
  padding-top: 54px;
  padding-bottom: 54px;
}

.profile_container2 {
  display: flex;
  height: 450px;
  padding-top: 54px;
  padding-bottom: 54px;
}
.profile_info_container {
  margin: 0 auto;
  /* border: 1px solid rgb(145, 145, 145); */
  border-radius: 30px;
  width: 800px;
  height: 550px;
  padding: 10px 20px;
  margin: auto;
  display: flex;
}

.profile_info_container2 {
  margin: 0 auto;
  /* border: 1px solid rgb(145, 145, 145); */
  border-radius: 30px;
  width: 800px;
  padding: 10px 20px;
  display: flex;
}

.profile_info_container .right-info{
 width: 300px;
 height: 400px;
 /* background-color: grey; */
}
.profile_info_container .right-info .image_box_container {
  padding-top: 50px;
  text-align: center;
}

.image_box_container .edit_info_box {
  padding-top: 10px;
  text-align: center;
}

.image_box_container .edit_info_box button{
  margin-top: 10px;
}


.profile_info_container .right-info .image_box{
  width: 200px;
  height: 200px;
  /* background-color: #377dff; */
  margin: auto;
  border-radius: 50%;
  display: flex;
}

.profile_info_container .right-info .image_box img {
  /* height: 200px; */
  width: 200px;
  /* margin: auto; */
  border-radius: 50%;

}



.profile_info_container .left-info{
  padding-left: 50px;
  padding-top: 100px;
  height: 330px;
  width: 480px;
  display:flex;
  /* background-color: red; */
}
.profile_info_container .left-info h3{
  margin: 0;
  padding-top: 15px;
}

.profile_info_container .left-info .input_field{

  /* padding-top: 20px; */
}

.profile_info_container .left-info-left{
  width: 150px;
  /* background-color: blue; */
}

.profile_info_container .left-info-right{
  padding-left: 50px;
  /* background-color: blue; */
}


.left-info-right .edit_info_box input[type=text]{
  border: 1px solid rgb(189, 189, 189);
  padding: 3px;
  margin-bottom: 8px;
  margin-left: -20px;
}

.left-info-right .edit_info_box textarea{
  border: 1px solid rgb(189, 189, 189);
  padding: 3px;
  margin-bottom: 8px;
  margin-left: -20px;
}


.edit_info_box button{

  border: none;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 4px;

}

.left-info-left .edit_info_box {
  padding-top: 20px;
}

.left-info-right .edit_info_box {
  display: flex;
}

.edit_info_box .button_box {
  padding-top: 28px;
}

.edit_info_box .button_box button{
  margin-bottom: 10px;
}

.edit_info_box fieldset {
  border: none;
}

.form-group .form{
  padding-top: 20px;
}


.input_field2 {

  padding-top: 40px;

}

.input_field4 {

  padding-top: 30px;

}


.edit_info_box .input_field button {
  border: none;
  /* background-color: #007BFF; */
  padding: 4px 10px;
  font-size: 12px;
  cursor: pointer;
  /* color: white; */
  border-radius: 30px;
  margin-left: 5px;
}


.input_field3 .button {
  border: none;
  background-color: #007BFF;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border-radius: 30px;
  width: 180px;
  margin-left: -10px;
  margin-top: -12px;
}


.input_field3 a {
  text-decoration: none;
  color: white;
}

.input_field3 a p{
  text-align: center;
  padding: 14px 10px;
}


.profile_info_container2 .list_container{
  width: 800px;
  /* background-color: red; */
}
.profile_info_container2 .list_container h2{
  text-align: left;
}

.profile_info_container2 .list_container ul{
  padding-top: 60px;
  padding-left: 0;
  /* background-color: red; */
}

.profile_info_container2 .list_container ul li{
  list-style: none;
  padding-bottom: 30px;
}
/* Stay Detail */

#stay-detail {
  width: 90%;
  margin: auto;
}

#stay-detail div h2 {
  text-align: left;
}

.stay-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  gap: 20px
}

.stay-images {
  height: 100%;
  width: 55%;
  border: solid black 1px;
}

.stay-section-1-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.stay-section-1-info button {
  height: 50px;
  border-radius: 50px;
}

.stay-section-1-info h2 {
  padding-top: 0;
} 

.stay-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stay-features div {
  display: flex;
  gap: 40px;
}
