/* General styles */
* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-title {
  margin-left: 50px; 
  color: blue;
}

.header-title img {

  width: 200px;
  padding: 10px;

}

.header-title a {
  text-decoration: none;
  color: blue;
}

h2 {
  text-align: center;
}

/* Home Page */
h2 {
  padding-top: 20px;
}
.location-list h3 {
  text-align: center;
  padding: 30px;
}

.authenticate {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}

.authenticate a{
  text-decoration: none;
  color: black;
}

.location-list h3 span {
  display: inline-block;
  margin: 0 20px;
}

.card_container {
  /* background-color: grey; */
display: flex;

}

.card_box {
  margin: auto;
}

.image-row {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;


}

.image-item {
  /* flex: 1 1 18%;  */
  /* max-width: 18%;  */
  text-align: center; 
  padding: 12px;
  width: 300px;
  height: 260px;
  /* background-color: grey; */
  display: flex;
}

.image-item a{
  text-decoration: none;
  color: black;
}

.image-item img {
  width: 300px;
  height: 200px;
  display: block;
  border-radius: 50px;
}

.image-item p {
  margin: 5px 0 0;
}

.image-item {
  transition:  0.3s;
}

.image-item:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 235, 235);
  padding: 40px;
  margin-top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 50px; 
}

.search-container input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 500px;
}

.search-container button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

hr {
  margin-top: 50px;
}


/* login_signup page */

.form_container {
  padding: 100px 50px;
  display: flex;
}

.input_container{
  text-align: center;
}

.box_container {
    margin: auto;
    /* padding: 80px; */
    border: 1px solid rgb(145, 145, 145);
    /* background-color: grey; */
    border-radius: 30px;
  width: 500px;
  height: 460px;

}

.box_container a{
  color: black;
}

.box_container h1{
margin-bottom: 50px;
text-align: center;
padding-top: 50px;
}

.box_container h3{
  font-size: 16px;
  text-align: center;
  }

.box_container button{
  display: block;
  background-color:  #007BFF;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  color: white;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
  }

  .input_field {
    padding-top:10px;

  }

  input{
    border : 1px solid rgb(196, 196, 196);
  }



/* Stay Detail */

#stay-detail {
  width: 90%;
  margin: auto;
}

#stay-detail div h2 {
  text-align: left;
}

.stay-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  gap: 20px
}

.stay-images {
  height: 100%;
  width: 55%;
  border: solid black 1px;
}

.stay-section-1-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.stay-section-1-info button {
  height: 50px;
  border-radius: 50px;
}

.stay-section-1-info h2 {
  padding-top: 0;
} 

.stay-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stay-features div {
  display: flex;
  gap: 40px;
}
