<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <header>
      <h1 class="header-title">skybnb</h1>
      <div class="search-container">
        <form action="{% url 'search' %}" method="get">
          <input type="text" name="q" placeholder="Search for listings" required>
          <button type="submit">Search</button>
        </form>
      </div>
    </header>
    <div>
      <hr>
    </div>
    <div>
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>
