{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="list_title">
    <h2>Place List</h2>
</div>
<div class="property_box">
<!-- <h2>Propery List</h2> -->
    <div class="location-list">
        <h3>
            <!-- <span>Auckland</span>
            <span>Hamilton</span> -->
            <span>Wellington</span>
            <!-- <span>Christchurch</span>
            <span>Queenstown</span> -->
        </h3>
    </div>
    <div class="card_container">
        <div class="image-row">
            {% for stay in stays %}
                <div class="image-item">
                    <a href="{% url 'stay_detail' stay.pk %}">
                        <div class="card_box">
                            <img src="{% static 'property.webp' %}">
                            <p>{{ stay.title }}<br>{{ stay.location }}</p>
                        </div>
                    </a>
                </div>   
            {% endfor %}           
        </div>
    </div>

    <!-- <div class="location-list">
    <h3>
        <span>Nearby</span>
        <span>Beaches</span>
        <span>City Centre</span>
        <span>Farms</span>
        <span>National Park</span>
    </h3>
    </div> -->

    <div class="card_container">

        <div class="image-row">
            {% for stay in stays %}
                <div class="image-item">
                    <a href="{% url 'stay_detail' stay.pk %}">
                        <div class="card_box">
                            <img src="{% static 'property.webp' %}">
                            <p>{{ stay.title }}<br>{{ stay.location }}</p>
                        </div>
                    </a>
                </div>
                
            {% endfor %}           
            </div>
        </div>
    </div>
</div>

{% endblock %}