{% extends 'base.html' %}

{% block title %}Stay Details{% endblock %}

{% block content %}
<h2>Exact location provided after booking</h2>
<div class="stay-section1">
    <div class="stay-images">
        IMAGE FILLER
    </div>
    <div class="stay-section1-info">
        <div>
            <h1>Modern room in Auckland CBD</h1>
            <p>$80 per night</p>
            <p>10/08/2024 - 20/08/2024 (10 days)</p>
            <p>4 Guests</p>
        </div>
        <div class="stay-price">
            <p>Total Price</p>
            <p>$800</p>
        </div>
        <button>Reserve</button>
    </div>
</div>
<div class="stay-description">
    <h2>Description</h2>
    <p>Welcome to our city view room where you can kick back and relax in this calm, stylish space.</p>
</div>
<div class="stay-features">
    <h2>Features</h2>
    <div>
        <h2>Free Wifi</h2>
        <h2>Disney+</h2>
        <h2>City View</h2>
        <h2>Clean and Modern</h2>
    </div>
</div>
<div class="stay-host-details">
    <div class="image">
        Image Filler
    </div>
    <div class="stay-host-info">
        <h2>Hosted by James and Anne</h2>
        <p>3 years hosting</p>
        <p>Experienced hosts who are committed to providing great stays for guests</p>
    </div>
</div>



{% endblock %}
